html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; font:inherit;}
body{font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1;}

header{height: 72px;  color: #fff; padding: 0; display: block;}
.container{width: 1180px; margin: 0 auto;}
.container:before,.container:after{display: table; content: "";}
header .container{height: 100%;border-bottom: 1px solid #e5e5e5;}
header .logo{float: left; margin-top: 14px; height: 55px; width: auto;}
header .logo-title{font-size: 24px; color: #000; line-height: 72px; padding-left: 15px;}

.foot{padding: 20px; color: #a0a0a0; text-align: center; font-size: 12px; border-top: 1px solid #e5e5e5;}


/**right tips area**/
.regist-right-tips{float: right; width: 300px; margin: 100px auto 0 auto; font-size:14px; color:#666; line-height:24px;}


@media only screen and (max-height: 900px) {
	header{height: 50px;}
	.foot{padding: 15px;}
	header .logo{margin-bottom: 0px; width: auto; height: 43px; margin-top:6px}
	header .logo-title{font-size: 16px; color: #000; line-height: 54px; padding-left: 10px;}
	
	.regist-right-tips{font-size:12px; line-height:20px;}
}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}